*{
    display: block;
}
body{
    background-color: rgba(245, 222, 179, 0.605);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



h2{
    text-align: center;
    
}
/* Stilizare imagine personaj*/
.desen{
    border: 4px solid black;
    height: 300px;
    width: 400px;
    padding: 20px 0 20px 0;
    margin-left: 725px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
}
/* Structura sapnzuratorii */
#structura{
   margin-left: 100px;
   
}
/* Stilizare randuri litere */
#row{
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
/* Stilizare litere */
.letter{
    height: 50px;
    width: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.letter:hover {
    background-color: #f2f2f2;
}

.letter[disabled]{
    background-color: #ff6961;
    color: #fff;
    cursor: not-allowed;
}
/* Stilizare buton restart */
.restart{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: larger;
}

.restart:hover {
    background-color: grey;
    color:white;

}

/* Stilizare mesaj */
.mesajul{
    font-size: 25px;
    height: 30px;
    text-align: center;

}

.cuvant {
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    letter-spacing: 1em;
}

.lives {
    display: none;
}

#fireworks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


